.slider {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.slide {
    display: none;
}
.slide.active {
    padding-top: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.not-active {
    opacity: 0.2;
}
.img {
    width: 300px;
    /* height: auto; */
    object-fit: fill;
}       
.active,
.not-active:hover {
    transform: scale(1.1);
    opacity: 1;
}

.feed-selector {
    padding-top: 15px;
    display: flex;
    flex-direction: row;  
}

.sml-imgs-container {
    padding: 5px;
    padding-top: 8px
}
.sml-imgs-container img {
    width: 35px;
    height: 35px;
    border-radius: 5%;
}
.side-arrow {
    font-size: 7rem;
    color:rgba(255, 166, 0);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}  