.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.projects-h2 {
  padding-top: 30px;
  font-size: 30px;
  text-decoration: underline var(--highlight);
}
.carousel-container {
  margin-left: 43px;
}
.slide-container {
  display: flex;
  justify-content: center;
}
.slide-container img {
  width: 200px;
  height: 200px;
}