.connect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.formSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  color: white;
  z-index: 2;
}

.info {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 40%;
  padding-top: 40px;
  padding-bottom: 40px;
  /* ----this creates the line between form and text------- */
  border-bottom: 10px solid rgba(30, 30, 30, 0.8);
}

.info h2 {
  padding-bottom: 40px;
}

.info p {
  font-size: 18px;
}

.sendForm {
  z-index: 2;
  padding: 40px 0;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 210px;
  color: white;
  outline: none;
}

#message {
  width: 215px;
  height: 100px;
}

.send-btn {
  border: 1px solid var(--highlight);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.5s;
}

.send-btn:hover {
  background: rgba(20, 20, 20, 1);
  padding: 10px 80px;
}
@media screen and (min-width: 768px){ 
    .formSection {
    width: 80%;
  }
  .inputFields {
    width: 250px;
  }
  #message {
    width: 315px;
    height: 150px;
  }
}
@media screen and (min-width: 1020px){
  .formSection {
    flex-direction: row;
    height: 500px;
  }
  .list-toggle-on {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .info {
    justify-content: center;
    padding:0 10px;
    height: 500px;
    width: 330px;
    border-right: 10px solid rgba(30, 30, 30, 0.8);
    border-bottom: none;
  }
  .sendForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
}