:root {
  --green1: #273e3f;
  --green2: #14272b;
  --green3: #0f1f22;
  --darkgreen: rgba(20, 20, 20, 0.6);
  --darkgreen2: #14171c;
  --highlight: #0ab4b4;
}

* {
  margin:0;
}

h1, h2 {
  color: white;
}

.particle {
  padding-left: 42px;
  z-index: -1;
}

/* ----------Global backgrounds--------------- */
.bg1 {
  background-color: var(--green1);
}

.bg2 {
  background-color: var(--green2);
}

.bg3 {
  background-color: var(--green3);
}

.bg4 {
  background-color: var(--darkgreen);
}

.bg5 {
  background-color: var(--darkgreen2);
}

.bg3g {
  background-image: linear-gradient(#0f1f22 0%,#142327 35%,#1e3638 100%);
}

.bg2g {
  background-image: linear-gradient(#1e3638 0%,#142327 70%,#0f1f22 100%);
}

/* ----------Global highlights--------------- */
.hl1 {
  border: 2px solid var(--highlight);
  border-top: none;
  border-left: none;
  border-right: none;
}

.hl2 {
  border: 2px solid var(--highlight);
  border-top: none;
  border-right: none;
}

/* ----------Global Shadow--------------- */
.bxs {
  box-shadow: 3px 10px 20px 10px rgba(0, 0, 0, 0.5);
}

/* ----------Global bottom border--------------- */
.borderb {
  border-bottom: 1px solid;
}

/* --------Sections------- */
.sections {
  padding-left: 42px;
}

/* @media screen and (min-width: 768px){ 
} */